*{
    padding:0%;
    margin:0%;  
    box-sizing: 50%;
}
p{
    font-size: 30px;
    font-family: cursive;
    color: black;
}
body{
    background-image:url("images/heads.avif") ;
    background-position: center;
    background-size: cover;
    position: relative; 
}

h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color:black;
}

.navbar{
    width: 88%;
    height: 10%;
    margin: auto;
    padding: 15px 2;
    display: flex;
    align-items: top-left;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: turquoise;
    font-family: sans-serif;
    font-weight: bold;
}
.navbar li :hover{
    border: 1px solid thistle;
    transition: .5sc;
}
.table-box{
    margin:30px auto;
}
.table-row{
    display:table;
    width:80%;
    margin: 10px auto;
    font-family: cursive;
    background: transparent;
    padding: 12px 0;
    color:burlywood;
    font-size: 13px;
    box-shadow: 0 2px 10px 0 black;
    

}
.table-cell{
    display: table-cell;
    width:30%;
    text-align: center;
    padding: 4px 0;
    border-right: 2px solid whitesmoke;
    vertical-align: middle;
    font-size: 35px;
    color: turquoise;
}
.table-head{
    background-color:white;
    box-shadow: none;
    color:turquoise;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.last-cell{
    border-right: none;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}